<a routerLink = "/addnote" >
    
    <mat-card class = "add-note-card" >
        <button mat-icon-button><mat-icon>add</mat-icon></button>
    </mat-card>

</a>


<!-- <p>tools works!</p>
<button mat-icon-button (click)='setTitle()'>
     <mat-icon>add</mat-icon>
</button> -->


<!-- <mat-form-field>
    <input matInput placeholder="Add Note"  [(ngModel)]= "noteContent">
</mat-form-field>

<p style="color:{{color}}">Titlul este {{title}}</p>

<p [style.color]='titleColor'>{{title}}</p>

<p>Note content is:  {{noteContent | uppercase}}</p>

<p>Number is {{15 | addValue : 1}}</p> -->

